:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1b2e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

a {
  font-weight: 500;
  color: #6b4f8c;
  text-decoration: inherit;
}
a:hover {
  color: #6b4f8c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #2d2740;
  border-color: #6b4f8c;
  cursor: pointer;
}
button:hover {
  background-color: #6b4f8c;
  border-color: rgb(224, 215, 247);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

